---
import ThemeToggle from "./ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/util";

	document.addEventListener("DOMContentLoaded", () => {
		const { body } = document;
		const toggleMenuButton = document.getElementById("toggle-navigation-menu");
		let menuOpen = false;

		toggleMenuButton.addEventListener("click", () => {
			toggleClass(body, "menu-open");
			toggleClass(toggleMenuButton, "text-accent");
			menuOpen = !menuOpen;
			toggleMenuButton.setAttribute("aria-expanded", menuOpen.toString());
		});
	});
</script>

<header>
	<span>
		<a
			href="/"
			class="logo"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				fill="none"
				stroke-miterlimit="10"
				style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;"
				version="1.1"
				viewBox="0 100 350 350"
				xml:space="preserve"
				xmlns="http://www.w3.org/2000/svg"
			>
				<defs>
					<image
						height="350"
						id="Image"
						width="350"
						xlink:href="data:image/png;base64,
						iVBORw0KGgoAAAANSUhEUgAAAaAAAAF1CAYAAACuxT7FAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABA
						AMAAAABAAEAAKACAAQAAAABAAABoKADAAQAAAABAAABdQAAAADC94zkAAAAHGlET1QAAAACAAAAAAAAALsAAAAoAAAAuwAAALoAAB31rwTnGgAAHc
						FJREFUeAHsnQuUnVV1xy/IO5m537wIpBEiCAXBpvJSEIoCFq2AUApCkWBlSbVQg9SWJVUMUCgiLQtpLVDBGsHSCEXWMHPvnZl2qosA4gTl/TYvEib
						zuHNnJgkhM8ntf1+vQ+Zx5z6+19nn/LPWtzL3db5zfnufvb9zzj77JBL8RwKGEujrbpk7lPIWDqfqjx1MN34ym2m4CK+/MpT2rstlkv+aTTc8gL87
						cfUUr2fw+RuFK+314r1s8dqB//O4tk28l/He3Om7K/F+D8p7MpdOpvD+fUMZ73a8dy3euxz3+iyuU/B60WB744JV3Ym9DEXGapEACZAACVRCQAx5r
						it5EIz+aTDwl8HY3zyUaVguzgDXBlziNEy9xLn1SH0L9U57S3Kp5Hlox9G9mXlzKmk/v0MCJEACJBAygWxnQzKbajgRI5gv47oThnsFrgGDnYtfpy
						cjrnW4OnDditHUJXCyR+XbE3uGjJrFkwAJkIC7BEba6g4tTlndBOPbims1Lr8G3Zbfj4HFCxgxPQCH/HU44zM2dc2Z5662sOUkQAIkUCOBfHdiN5l
						yglFdUpw620hnU5Oz3VDkt0R45pcmdq1RJPwZCZAACdhJYDhd34gF+rPwBP9t/P8YnM1WOpyaHE65EV0WjqgNI6S/H2r3TmbQg539ia0iARKYhYA8
						icsTOdYvroajkWgziSIrZzz5edCMMt4W4S9yQBTeB2YRGT8iARIgAb0ERrrqmiSaC2sUd8HorafDMdDhItRc5CNy6n+kuU6vtrHmJEACzhPA1Nr7M
						a12DZzNL3Btp9Mx0OmUGlVhdISRUQrXF+XhwXllJgASIAHzCSA0+gA4miXFtZzfbdTk9FkpQ6/j/fGiPJeMts9tMV8LWUMSIAFnCAxmGt9Lp6NodO
						PP6U04o5HWumZnlJwNJQESMIeArBHI9Ayux+F8ONLxZ9S1jhAlWvFh2XeUX554jznayZqQAAlYSUCi14qBBKMwPloNJ+sdvOw2SOogSYFkpeKzUSR
						AAvEQkJQ3cDyXweE8TadDp1tGByTYpFMi6fI9id3j0VjelQRIQD2BwVTj8TAmy5BzTPaLcNRABtXqQK+MiobavAPVdwY2gARIIHwCskkUc/pnylMs
						nQ6dbkA6IKOiVnmgCV+DeQcSIAF1BCSjMozEYgQVvBSQ0an2aZnfd2GEhVRLhek5Bi2osxGsMAkETmA0M3df7PFYCqdj8zEGdG7mObfXoXNLNrTO3
						ydwpWaBJEACZhOA01kIA/DvuJj40zzj7JLD7JPkqHJKrdk9hrUjARLwTUCOfsY02/fgeN7B5ZKhY1vNlnc/pub+liMi312cBZCAeQQkhUohIokRbX
						REpjsiZOdet3zB3ub1ItaIBEigKgKSSLLgeNLeZo54OOJTpAMbMVK/mmcWVdXd+WUSMIOAzKlj/84NMDjMWGD2Ez9HZLPLZzX0+BKe5mqGXWEtSGB
						WAvl8YhcJc4XjWaPoaZdGeHYjTD5pbyVG8ifNqvz8kARIID4Cw6n6Y+F0VtDxcKrNYh1olQjO+HoZ70wCJDCJwEBr0+/B4CzDxazUHEnYP1pCII2s
						azJ0e5IZ4AsSiJaAhKwWN5EywICOx37HM13Ga5GZ/UKZdo625/FuJOA4gaF272SMeF6xeKrFRYPKNk93MpUw+flIqu73HTcJbD4JhE9gqNvziufxc
						LqtNmNViUHjd7Sxlf1tSCmFg/H2CL8X8g4k4CCBYpbq9Rz1MMiAOlBSB56RYBwHzQObTALhEOhPN+8Pg/MQjU5Jo8MRi7YRS7j1HcPeodsZpBCOPW
						KpjhCQxVVE+1wOxzNC50PnQx2oWgdex564Ux0xF2wmCQRHYFPXnHk4BruNRqdqo8PRULijC218d8iaKZOcBmebWJLlBLCYeg4cTz+dD50PdSAwHXg
						eLBdZbjrYPBKonYBkAJa5axqdwIyOtqd11jfE0Vs2nXxbEpwyr1ztNoq/tJRAMY0O9/WEaIDo2OnYizrQ0d/RPN9SU8JmkUDlBORpDJ1iCS4eEEfn
						wxFQdDrQh6nusyrvqfwmCVhGQM7qgePpKD6V0fhEZ3zImqwLOiABCvmexO6WmRY2hwRmJ4BUOh+C4/kNnQ+nhagDsevAz/raWvabvcfyUxKwhAD2J
						lwqC6I0PLEbnmpGQjJFmi1cGe9NTN+8IRcWtV/83d/4rHfiO8xMXg1bE767djhdf5wlJobNIIHpBPLtiT2xsfRuGCkTOpzrdchBDr/G9dNi5OG1su
						kXUzIXyOZFvL9osL1xgUQmTpdk5e/0P9Jch/1c7xPjhlRKn0L5n0PZsuZ3vUz/4J5pXC/zgcSIPrEVsrqscunymySghMBgpvG9MDq/wOW64Y+y/aM
						wKE+Iocco5SpcfypTn7lHkw0mqo1EZkFPToBD+nNc12B0dT+c47PQmW3Um0j7zT2ruhN7magjrBMJVE0ARuSPYED6aERCNSKrwPdBXNfC0ZyTa08e
						bMs5MZLhGe1aJKMnOKZv40rjNTcqh/sw1yMHPVbd2fkDEjCJAKZzzuP0SuCOZwwG+IXCyCbtLYbDWWiSzKOqS64reRA4LC5OIfbgbx7REaxT2oBR6
						FFRyZP3IYFACcAgfJNGIRDnMw5D8DhYXisH8TGv18xqOtJa1wxnfBY43YZR0sv4P8rpTlvvNSJrdzMT57skYCCBfHdiNyjtnTQAvgxg31CmYbksCj
						NEtjYll+AH4SccoYvD1Mea9XEcDv3y2qTAX5FAhATkxFJ09C529po6uySMlFHOh2xZv4lQ9Wa9lURgYhR5Gvjegf/fon5Wr594qLyFeeRmVTN+GCc
						BWbREx5bQXlunI8Jo1ypZw8B6zolxys6le4sRFd7Cnc6o6r76EKeAXeotStoKp7OInbnizrwGrG4UZkrEa201ZboY03SfgDP6PuTBabrKHh5XyEyH
						tUrBhukigA58NDrvAK4wRgi2lDkOPp0SFShGT5eE3ait7H0R+YiccDGibvb+/Hx/unl/NzSDrTSWABYnT0Jn5ZNj6c76GiKzlspGXGOFyIpNIzCQa
						ToMun0zdJv710roNkbxL0m2jGnw+AYJREEAZ/icjg66GZcto5Sg2rEdTFolpQ2DCaLQxPDuIaMi2QALeT5NPZ+hn0s+QEQbhicBlkwCMxBARMyZ3G
						A6rUNuhZFahqfCD8yAjG8pJ1AIXMCDBWTM6bnJD50bYA+OVC5eVl8LAXTEC9AJmZ/r3U7YJ9M1PGVSiwb7q+dwR/0hhewLGW8LR0UTD2Ebhzq8P/R
						Hlr8mgTIEMK10KTqdTDEFNV2luZz1cDxX+M0YXQY5PzaUgGwQxvreP8MZ0RH91h5kcx3JYwwVF6ulnQDmev8MjkeiuTQ7jSDq3o8F2KvpeLRrdDD1
						H22f2yIjYE5JF+zCkGykDoYsSyGBIgE85Z0NxyNJMIMw4FrLGCxEtLU31lMxSGAqgcKRI9jcij4ia4FadTyIem8c6Gw6fCofviaBmghggfFT6FByI
						mYQyqmxDIn0uw7BBXQ8NWmQWz+SLN0YId8PnXE5WGEtHtYWuiV5tjZwAtmOho+iI21y1PnsKCSyZEcKXK9cKFDWQ2CEH3O078iD5usMzHFB00Nq43
						Cm/sNQohFHO1CPhN2GhJbFOkJA9oEVsyusdrQfvbKpa848R8TNZgZFQBYS0WGGHOw069HmxdxAGpQmsRwh0JuZNwfrqDc4GjH3NHPHsR9UTEDmbmG
						Eex1zPjsw4rmL6zwVqwm/WAMByRqAftXhWN+S6bify5EYNSDjT1wiIAYYT2nPOtZBXoXT/ZhLcmZb4yVQnJbrd6mfIVT9Ac4sxKt3Rt8935PYHR2i
						y6FOsU32b/DJzGi1tLZysjaCvrbMof6Wl2lIawXKhtVOQJ5MXOoMCJN9nDnbatcX/jI4ApJXEYb5TWccUcb7QnD0WJIVBDAFtdSRDjBWGPVgtGeF4
						NgIKwhkOxuSxb1DGvfJVVvnbQhR/2MrBMdG+CeAxfcL4Xxc2DS3iqHV/vWFJYRHAP1wMS4Xtj5IG3kicHiqpKNkKMHHcbmQ5eDe/kea63RIhbV0mU
						CuPXkwRulPol9WO7LQ9v21PFXVYU0favMOhJLbHomTlSSqDouZTVdIQI5tR9+8HpfdyX+RKUKCnxSKiFX2Q0BOeoRyP4VL21NTNfX9leTl8sOJvyW
						BOAlgQ/jJ6KO278m7I07GvHcMBBB1832rnU/G+9GG1vn7xICWtySBQAkgWnOBA1NyfxEoNBZmLgEo85csdj5jclaPufRZMxKonoDsVZNMHbb2WzlL
						CVPlR1dPhr9QRaCYYNTO80qwl2Iw1Xi8KoGwsiRQBQE4oMWYvbD1BNbVI611zVXg4Fc1ERjNzN0XCrzOxqcomaJg1l1N2si61kqg+BBp5boQZi/a8
						0sTu9bKhr8zlEAxqqbbRueDNj3E47ENVTxWKxQCktQUxvpFS/vz9aFAY6HxEcCw/VtWKiuOQOYTU3x6xTvHRyD3aLIBffp/LezX2+FgT4mPLO8cKI
						HhVP2xUNJtlinqOKbdrggUFAsjAWUE8ssTe6Bf/9Cyvi1JS98cTtc3KhMHqzuVgOz+R563NyxT0E1I4HjG1LbyNQm4SKCYSPg6y/o4nFDDchflaVW
						bLXw6yg1mGk+wSkhsDAkEQKC4vWK7VY4o5X0+ADQsIg4CWKQ81yplTHtZDMuPi4Ml70kCGghgZuAi9Pkxi/r9ppG2ukM1sGcddyIgu6ehhIMWKWJv
						tq3hgzs1kX+SAAnMQAAPnuej39uz5pvyfsl8cTMI2tS3JCoMCmhTdMya4Y76Q0zlzXqRgGkEMB33aas2rPIkVdNUrHR9EHRwlUUjn9dxWNcBpVvLT
						0iABGYikEslT4Ud2GyJLRiXaN6Z2sn3DCJQPGJh1BKlWycb7gzCy6qQgCoCmI47TfKsWWEPMt6znIozXP2QsDBjhbKlvY0DmabDDMfN6pGA8QRgDz
						6Dy4o1IUwtXmM8cFcriDnfSyxxPv2D6cYjXJUj200CQRMoRsTaEB23daCz6fCg+bA8nwQkiyycT58FDiiX60ge4xMHf04CJDCFQPEB1YZ9Qj+Tzbd
						TmseXcRLAguN/WuB8RnmcQpxaxHvbTgBO6K8tsBN52XRru6zUtA/rPn9igVKNow2fUQOdFSUBpQRgvG+2wF4My15HpSKwp9p93S1zoUxrtSsUnOhf
						2SMVtoQEzCUg01dwQv+l3Wag/g+bS9mRmiFM+SbtigTn8x1HxMVmkoARBFZ1J/bCfsHHtNsO7A063QigLlZC9shYEOP/IM/zcVF72ea4CYx01TXBA
						b2i2Qkhuu9F7g2KSZOgOA9pVh7U/akNrfP3iQkfb0sCzhPIdSUPQj/cqNmOYDqR54JFrckYPn9Ms9IgGufNTV1z5kXNjfcjARKYTKBoSzTvERrk4X
						WTZRrqq2Ky0R7FDmgb1n1ODBUSCycBEqiYgPr8kSnvuxU3ll/0RwB7fv5SsfPJS/39EeCvSYAEgiYAm6L5aO9xHtcStEbMUB5i3+ux8PaWYge0bIZ
						m8S0SIIGYCfRm5s2BXXlOsW3pihmh/bfHiYe3KFaQHgn/tF9KbCEJ6CQg527BvuS02hjZlK+TvIJa97W17AfF0Hq+x6AcFaEAM6tIAk4TgI2R7Nk7
						lDqhlcwTF5L6YqHwu0qVIo89S58NCQuLJQESCJgA7My/aLU1sJPnBIyDxfV3NM9H6PIWpUpxDyVIAiSgh0AhUwIOgFNqb57n5vaAdQ1rP3eqVIaU9
						0b/I811AeNgcSRAAiETgM05UmumFawFXRAyHneKLx6z/Y5CBzSGqL2PuCMptpQE7CKgeH/Qq/nuxG52SSOm1sDx/ECh88lDeb8REzLelgRIIAACsq
						CP9ds2lfYn7S0OAIHbRYy01R0K4atLkwGlfSK/PPEet6XH1pOAfgKF9ee0l1XnhDD9z0SlPvUPgQc/Uif4tPfOYLrxCJ9N589JgAQMIYDsJZcqtEO
						SdeVSQxDqq4ac+Aehb1Mn+JS3VB9t1pgESKAUAZmKgx3q1GaLkCn7ZUbElZJqmfch7Fu1CRxpgl5itoMyguXHJKCQgJw/Bnu0SZtNQjTfmQpxx1tl
						CV2GoLWlxNie7Wj4aLzkeHcSIIGwCOAB82ptDgjLGP8XFg9ry8XTxtcUCvp2awXChpEACSQktBl2Sd1RMMOZ+g9TfBUSkMgNCHmNMge0nhtOKxQwv
						0YCignkOpLHwDZt12SfsBb0gGLk0VYdc5YXaRJusa4XR0uJdyMBEoiLAPr8Pcps1LgcPx4XL1X3hWBXKhNuDyNNVKkYK0sCvgiMZubuCxulbY36Nl
						+NduHHEOrHlTmfHUy344Jmso0kMJmAwoCEkaFuz5vcCr6aRGAo07BcmQPiCaeTJMgXJOAGAWQ62QO26lVN9gprQZe7IZ0aWjnSWtcMYW5VJNDN2c6
						GA2poKn9CAiRgAQGEOJ+tyF7lUddnLMAeThPUhV4z40E4isBSSUARARj1bk1OaDhdf5wivNFVFXOqLyoS5ADWfuqjo8M7kQAJmEhANp8rslt5TMPd
						bSLHWOs01O6drEmIsgAZKzDenARIwBgCMOppLfYrm/K2YBTUaAw8EyqCs3Pu0yJA1LOfm05N0BrWgQTMIIDlg6NhF3aosWEZbwvq+hAepL/Yn27e3
						wyKMdVCQgMBY7Mi4X01JlS8LQmQgEEEJPGwBCLAkP84p/DcsqLNlawO3UgA8GXZ32QQ3miqgtHPV9Q4n7S3YUPr/H2iIcO7kAAJmEhgINN0GKbdbo
						bd6ldkuyQKrtw1ju904hyh85w50hsNVpP5gHH0JpoD1okEwicgJxxjpHM+7NWKCgx5OUOv4fM1stZt9ebV4pHbGoQhdexbt3zB3uGrOu9AAiRgCoG
						+7pa56PtX4lrliOOZao9HMc14O2aqFpoik8DqgUZ9Q41QM963Ams4CyIBEjCagGQ6QHDBZRgFvKXGRpWfYpvqXKp5LadTL7MqqSka9JwG4WbTybc3
						dc2ZZ3SPYeVIgAR8E5CpNky1fwl2ab0G2xRDHSVbzW3qQ7llIS8GeNV4/Inv4ino33xrNgsgARIwmgDskSRD/rUWuxRzPbOyRiQjRaOFWqpymH5bG
						jPACQdTph47BjqbDi/VDr5PAiSgm0B/R/N82IAHy9iBSu2Fa997bjDTeII6DYCwX1Ai8J+qg8sKkwAJlCWQzyd2gQ1ajGtAiS0y1bntyKYa7lKTni
						zb1vBBLQLHQuQpZTWZXyABElBFAE/t78UszP9osUNK6rlWhb1EWN8NSoC+Jk9JqnoWK0sCJDArAaxdnAv7M6jEBpk66ilVrx0Stp1vT+w5qxDi/BC
						Cf0aD8GWRLU5OvDcJkEBwBGQfH+zOvRpsjwV1XGlkyLYkvwNcDYn7xpxP1Bdc32dJJBArgcKUW9p7ygLDXmrkYeL7w5IrL1bBT7058gxdqkQJHpxa
						d74mARLQRwA251TYHAYahLtRtZQD3C4JB4xZyoAiqAh3HE7Vn66vq7HGJEACOxOA8fs8bI7s4i9lIPl+NGx+GPueIcmwCkUYUqAMq/NLE7vurMj8m
						wRIQA8BeeLGGu4/KLA17jhAiTrE8TuxaRFSXJykQSGguDfGBok3JgES8EWguL/nDg22xsE6vhDb2jpixG9SAnyRrx7AH5MACcRCQHK5YdrtP5TYGX
						dGPztN82Eg8jI2rS6IXEGgFL9SoBivRA6GNyQBEvBNoDjFr2KNWYEdDNs5/ibb2XCAb6FXWkBfW8t+gG5++DU2yVbaJn6PBEjADAKyZouRz3007Kq
						CLV6LbDoO6ypymmDYXtV3+YPpxiPM6FKsBQmQQCUEZM1HcpFpsC+s4zQf8NxIV11TJXL29Z3CqXqGOyA4yZd8NZI/JgESiJwA1hRupmGfZth9P4xH
						xRSxAU+Efto0GmP+LmQcERF57+ENSYAEaiagaGO7GocQleOZcp9WCSCpWRFm+2FvZt4c3Gxsyg2NE0iuI3nMbO3gZyRAAuYQwHT5JzXYFdPtnkH1u
						zUU7ZIU3QY1spTj6+Pm01DEz0JJIHACCDhYCJvC9DqGL2tUbfeRuSJ4ZUl736y6ItGDXRZ4w1kgCZBA4ASKWa2fVmBTSj3s8v0S9j2bTr6NtfijAl
						UaLBKmTVcWRNFcGGijWRgJkEAoBGCg7jfdnrB+PoIiUt4bgaXsKcTnp72c4QLZPto+tyWU3sJCSYAEAiOAaNpLDLclHN2UGN1UJbeU95NAlCabaTi
						yqhsHUfkqy8AI7clAGstCSIAEQiOAteT3wZYMm25PWD8fo5/Jtvti38oEYVxsvEAYfu1bziyABMIkUMjxlvZWGG9LJhtQjob88RiWYBNfeoW1le+Y
						rjQSpeerkfwxCZBAqARgQ6403Y6wfoGNfN513DjCwddhdnBAGcMFM9bX3TI31N7DwkmABGomMNTmHQgbMmq4HXnXaPp76mc50/nVPhWHiJW3DFecn
						pp7Bn9IAiQQOgENUbSG2zjtTq1/pLWuuWpFk8gy4wWT8W6vumH8AQmQQCQEEPV2tvE2ZPoTu3aDb1z9MZD5XtUKhx+dZrryoI7nV90w/oAESCB0Ag
						g82AP241XTbQjrF8Laz3SnPo7lnD+oSunw9PJV04UTy8l8VVHkl0nATQIIDvqa6faD9YvE+fx2RIaAhKp6AoRzr+ECWltVg/hlEiCBSAjgtMwkbMe
						g4fbDuKkq23nhoeQTFSsgYrh/aTiQRypuDL9IAiQQGQHYjqWG2w46n+nTZOEzgU+pOCwbCmR6Cp7rI+tRvBEJkEBFBCQPGGzHEB1QhNNbcTiTGu+J
						7DpnlFWk4XR9o+kKhMOszivbEH6BBEggUgIc/dDxlPEdT5VVSESXHVWmkPCHa2U87ECm6bCyDeEXSIAEIiOQb0/sCbvRa7rtYP3idZKIiDtxVqWEA
						zrXaCFlvC2hHQE7Kxl+SAIkUIoAFpkvM9pulHmoZd0jc0wPl9KhwvsQxN8YLQwsZs3aAH5IAiQQOQHYjBeMtht0QLHPXBX1Y3uuPXlwSQXFl+4wXJ
						F+ULLy/IAESCByAki5c5LhNsMU48t64EEAo+WbSiopFOlRk5UJc4hfL1l5fkACJBA5AdiLZSbbDNYtsum1ihwslnneyvckdp9RUSGs500WGBwQj+C
						eUXJ8kwSiJ1AIvca6rMk2g3UzywEV5IFcgTNqKz40On06UvB8ZMaK800SIIHICSBt1xdo4A008Kavec10dHfu0WSD6crU19ayX+S9jDckARKYkQBm
						JEw/N6yiaSHT7Z6F9ds87Ty34Y76Q4xuqIRg5xO7zNgT+CYJkECkBOSsF9iLMaNthukjAYfrN205ZTDVeLzJyoTFqxcj7WG8GQmQQEkCnH7j1Jsvf
						zF1Gk5y9fgqMGRvjvC9tpK9gR+QAAlESgCpd35isr1g3Yx3kMOTouHwRHOJyULDkO2uSHsYb0YCJDAjgXx3YjfYCiYeDfmh22R7HETdZA/ZhIJhhG
						H0QVKYgrtxorL8gwRIIDYC3Hxq/OhCRfDFJJuOLNP/GIRXC62MlHdVbD2ONyYBEpgggD5+bWj9nKMKFc4jIPmvmFAqPNXcHVChYQFcPFFZ/kECJBA
						bAdiKtOG2IiwbxHKDfUDYuqo7sVdBkbEG9N8mKxWU/tOx9TjemARIoEAgvzSxK+yE6YdW0lEE6yhC4ynTuQXFglJ1m+yAmAWBFpAE4icwmG48wmQ7
						wbrpWp/COtDfFbQanuhJk4WH01rfH3/3Yw1IwG0CiEb9nMl2gnVT54DuL/QoCO5pk4Unx4W73fXZehKInwD2C95isp1g3XQ5IMjruYJW4w+jD5Vat
						3zB3vF3P9aABNwmwAAEdQY+tPWbgJz9mBzpnkBhrwdUYCgN5lHcbhs+tt4MArARq022E6ybPgcp64rigNYaLLxxM7ofa0EC7hKQ1CmwEeMG24lQHn
						7Z3nCdWiHCGZB7DQa92d1uz5aTgBkEcl3Jgwy2EXQ+SkKvp+oQHNAVMgIyObfTkBldkLUgAXcJIF3XKVONB1+HOzpwhO8/iQPabHBjN7rb7dlyEjC
						DAEOw6WzC8BHYC/RjcUAmHy61zowuyFqQgLsEYCOuDMMAsUy3HRsebDLigLYbrAhr3O32bDkJmEEA6bpuMNhGcA1I6RoQdGrl/wMAAP//0J6zugAA
						H3NJREFU7Z0JdFzVeceHfbGleZJtDMYFAgHKesJSQsIWqGmABE5Yy1IcaAMklBw3PVAItNQhIdCSpuzggIG6ofQYSOIKaWYkYQFmCxhis68WqzGWN
						BpJBmzL1vT/jQdZsiXNm5m33O/ev895x5LmzXv3/u7/+76730Q2nfyiO+3lTbxy6eQnCf4jARKIlUAuk7zNRP/ANJnpt8sol/cSuLmnjC9EHai6Yr
						U8vpwESEB8xL0G+4iofRLfF1yDZbmIa7nB4uqj/ZMACcRLAD0R9xvsIxgQggsIUbPMJboz3kcGi2t1vKbHt5MACXSnvAcN9hFRO02+L6CAJ8M/0gJ
						aYrK48vnEJnQBJEAC8RGAf5hnso9g2tSOBa1NoHn9uskFmG9KbBWf6fHNJEAC8A8Pm+wjmDa1AWiVtIAWmVyAXU31tXQBJEAC8RHIpZIPmOwjmDa1
						AahXAtBzJhdgtqVup/hMj28mARKAf/gvk30E06Y2AHVKAFpgdAE2eQfQBZAACcRHIJuqm2W0jwhoUJx5jDiQYQKcBKAGk8FjEdyx8Zke30wCJIAuu
						OtM9hFMW8SBI7iAv1gC0L0mFyBqX2fRBZAACcRHAJXAS032EUyb2gA0XwLQr0wuwGy67pL4TI9vJgESgH8432QfwbQpDUBYX5ZAC+OnRhdgyptJF0
						ACJBAfAVQCv2O0jwiuS4iLTCNkKXsMyjqgCwwX1y3xmR7fTAIkkM3U7Wu4j2DgiDBwBKUFjC1elsA2G6cE9cBQniPNNP4jARKIjcCyzORxodi2Qqd
						JDsF19yEAnS57wR1pNNSU93xslscXkwAJFAjAR5i8aTFbQAqDea45eXCiK12/j9EBKO110geQAAnESwA9JU8a7icYhHQFoQFsMpBMrGgdN9l0YXE7
						nnidD99OAhgrvt10P8H0Bdc9FgHL9oJV5dsSm+Nl/RG8sOIaCmbq7U8XQAIkEB8BzIT7ock+gmlTFXwkFswbVDN+aTe6AFPeSYOJ5Q8kQAKRE+jK1
						H/TaB+hq/up4sq4LWWAFvW1gyJGpuYbnrEZg4nlDyRAApET+HDu1G3gI1YZ7iecd+xaygdT+08cFDESPdvohKe8mwcTyx9IgARiIYBuuGeN9hNsBW
						kJwAO9rTUTBkUMUV1tuLDmDyaWP5AACcRCAD7iPwz3E1ocsOvpfHWYgCGqcw0XFqdiDysx/kIC0RPAVOyTDfcTrjt2FflH99udw9SLpvURpguro3n
						ilGGJ5i8kQAKREpDlEPATq033FUyf4TPiUJEZJlwIa6rphYYFs8cNSzR/IQESiJwAdk55zHRfwfQZHYD6CwtQhyo3PzOxKQptpckFV9i4bmii+TMJ
						kEDkBDB99nKT/QTTZnTwyUsFZkTRohvuDcMLb86ICecfSYAEIiPQm6rZ03A/oWIcxGGG/zCiWAHkIcOhLB4x4fwjCZBApATgJxYZ7isYhMycki77v
						+00oljRNPpXw0W1hnvCjVh0/CMJREoAvSVXGu4rGIDMDEALRhWqhimW6H+eNmoG+AEJkEAkBHJNyd0QgAYYhAwfbzEsCKHi8vejCrQoKrNrDmiljZ
						oBfkACJBAZAQSfNgYgBiC/Gsimk1/0pGvrRxVoPp/YBA/r9fvAmO5rHjUD/IAESCAyAqjNnh2TDzC7kmxYq8OYMsp4/11SnLlM8hljEjxyQfbJ8RE
						lM8IbSIAEQiXQ3pbYGr6i03B/wWA1sh+NnkuTd1RJQeLcnVnGC6rJO6BkRngDCZBA6ASwNu864/2FKQ7Y5XRkvJekh62kINGsvsR0QUkaS2aEN5AA
						CYROQE5Tlr59030G0xf7WNW5vsQI5278nnAQ0/qT9HzlijeRAAmERQD2eC8dfOwOPvouNb8tuoz3UX5uYktf+lNy6NSKfFNiK18Z4k0kQAKhEsDav
						L0RgNYyCDEIjaiBjPeTsgSIhzw34oP8RrwI7sNkiWPKyhRvJgESCI0A1ufdb7rPYPpiCZBLlzZM2bYs4aGg/tP0wsJkiRvKyhRvJgESCI1AT3Pt7v
						AZ/ab7DaYv2iAEP31x2aJD6+I0BQX1StkZ4xdIgARCIwCfMVuB3zB3rCSCnqOIy6e9oqGS5Y2Tto84oZWJotHbOTRr4oNJgATKIiAz4uA3elT4Dvu
						cfWU+NEQO6JY9tSwBDb0Z+8K9a7qQsAbhoqFp5s8kQALxEsBRy1eY7jeYvki64Rb4WvczmlxRSHMUFBS35RmtAPl3EoiBgHS5wG+8o8B3GNdisIhZ
						f3ez97Wq5CetCwVA1vRlxm9XVUb5ZRIggUAJwG8cjYs7ZYfYvWWybw5kghia0vuanMkv04aFsz8M1Hr4MBIggaoJwD7v/dJG+X8kXV6mtOjal7dNG
						l+1gAo7Y2MFqwLxzK86s3wACZBAoARk230MQn+iwH+Y4rhtSMcAyjy489ogHg3TKtd2NE+cEqj18GEkQAJVE+hJ1X4bPoRdca50xWW8m6oWzdAHYB
						zodA01GHTDjX7K3tAM8WcSIIFICWA27c0afAjTWHU34SuyjVug4upu8zwUjIbVzaOfMx4oET6MBEigHAKFM4OwFT8dfNUO3twuuoz3ucwZKEcXvu+
						FcBZoEI9siOg7U7yRBEggMgIYD/oqfEi3Bj/CNFYQKFPeeaGJCd1bVyoplF+FBoEPJgESqIoAasjfhR/hjtn2jQfdUpUwSn25G6ePKglAnRXtO1QK
						AD8nARIIhADGg2Yq8SXmdneZFcAW+D7np1IFFaZjp72lGoSDKYBnVJpPfo8ESCBcAkVfomGHFQagUoEOW7VFtgkAgs89GgIQ0tgargnx6SRAAtUQy
						C9MbCF2qsSfMBCNHIg6extr9qhGB2V9F/23xysRzIAMeJaVOd5MAiQQKYHcI8k6+JPFSnwKg9DwINSHCV+HRiqYYq2lU4lgOBkhUnXwZSRQPoG+pv
						GT0GX+mhKfwiC0LgitksXF5Zd2AN+AUO5SIpbebEtdMoAs8xEkQAIhEkBNeip8yhIlfsX1ILRKZjKGKIexH41TUo/VIhSk9dKxc8NPSYAETCDQkZ6
						4A/zKK1p8i6PpXNmd8b4Xq14w3W4zwP9URQFgE1XpNowVGF9OAiTgi4DMpoJfWaTCtwwfD3GhVbQi0A1GfSlilJuQkDu0iATNxXNGyQb/TAIkYBgB
						2T0b64Se1OJfHEnnpyiXQ4yRCqDLQVNaov7iqo6ENYY6E0ICbhAonKaa8n6ryMdo8YWVpPPtnuba3Y1SnnTDoRWk5owPY5qORpUiE0MC5hKQSiPGc
						H+JIMRjHOKr7LdJi9RIlaCZ/Gs1NRQ06Y2EyESRAAmMSQB+5iT4mZwaXxNfsKikdTPqd3Cc9iyjx887MxP+XFPtJLZ562OaFz8kARIoRUB2uMdmyG
						8wCEUy7LECwefMUmVixOcQxFOKRLGQY0FGyIaJIIGyCcghZ5gCfJMifzNq68LgPCzsTdXsWXbhxPUFNI/PMxjmRgLAjLgT42LF95IACVRPAD7nFPg
						cLbuxbOSDDPWXAxLcQ9/RuvriH/6EQq0k7WUNhbpx4eNExvzMxKbDc8HfSIAENBEoLlp9WI3fMXtc6NWuTP03NZX/sLRipsptmoSA9J42LAP8hQRI
						QCUB2RIGvucDTf7HoLSuxrja9erPTsOA1f4GQd241bNx7eMd9dBVugsmmgSCJ7AsM3kcuuVmZtPJL5T5IT++Kqx7WmRiR/ClEdMTIYDnNRU+94iLS
						Sh8LQmERCDXlNwN4xi/0+SHYkjrK7nm5F+FVATxPRYLPS+IAWY1tYPcitZxk+MjxjeTAAmEQUC2jIEvalDmj6rxZX6+245K94WygUAYzGN/ZntbYm
						sU+DJlhX5X7OCYABIggVAIYHzjCFSMU/BJzu6kgPy/jvyfn29LbB4KZJMeKv2wygLQWjRHDx7KsLvN83oytV9HPqaj8K5Fnu7D9SB+b0EN4hn8/zJ
						+f7dwpb0X8PsTuK+pO1M3F//fgUHRK/DZydK/qm5K41AQ/JkELCEg+5jJFGOnxoiw80sulTzd2hbPSNqUkw1R0J/DKftpEsZ+DwQpaZDzR67B1YYr
						6CMm+vHMt3E9hNrYJVYN+o0kAP6NBAwmgOO/d4UtrsAVu+8JKQ052T6nu8k7wOBiCDdpaAHcGRLcwEVTDECBP3es/KOV9Amu/0Ht5O+M3eQvXInw6
						SQQCwHY5eyxbFPpZyuR7j8g8JwlwyCxgDXppb2NNXsAyFqlhRlpMAIjEU9Dsam8pUnlyLSQgE0E0C3+LdiaLWNBsjHrQ7imZ1vqkjaVUyB5AZh5uK
						J25trfJ1uL3GLcuRuBKIIPIYH4CBR3a5GucJ0+Yt2whow1/wJDHEc6MaGgGrkIJLWFHb9IpfXYsOHkiGrKg98lAZcJYFjg39X5o4y3OocJTV2p+m9
						wMlMF6kWB/1FdoccffIbW0KS7YJ7MyKsAP79CAiQAAmg1HAg7kslAQ20r/p9TY6cHk5b+jQVYBYHiHk3xF7RpwqssPQ2YQTe1iuLgV0nAOQLSVYXA
						86Jxwae0D1jBRfIByLW4boZBqLTg/DCSgccZTs3rD0CDfIS7BDDxQNu6xIIfkA1C3S21AHMuew4prH34CQZx3vOibDUSYDHxUSRgHYFsc91h8D3md
						b2Vroz2yXpK6wokrgxhQsJjDEJj9/dWwKdfanc81yguVfO9JhNY3jZpPGxK66y3n5nMVl3asEDq8AocbJwtDE3vbmFfsTqTYIJDJoDK2W+V+pxu7N
						ZQFzIe9x4PMbQqFYSGYPShBHn3VMUck8DGBGRRt1Zfg4lbV22cI/6lagIyl70qUZSYsljVs0v3yWoIQv3o6vzbqguKDyABxQQw6ekr8AUyWUeDzW6
						Yxo6OeRNrFOM3O+kQR6NSYWwoFFN/H0Dt7zKzVcDUkUA4BIq7Hcju9Kba55jpou2Go4vBp8pO0BCHxlkpYwrHOMFj2/l8PrHJIHj+QAIOEIAdat5o
						9IOlDVO2daCY4s0iWkG3GeewldaYSnC8hzPk4tU63x4dAYyd/KiEPRhdiZRxq+hoOfwmOX4AQpFNN40WhA3pwxYktzssNWbdEQLoWTkU9iq7yuv0K
						Tg4jj0WEYoVQpmhVizaRJ7y/jnCouWrSCBSArIEAb7kQ8X+ZKMTmSMF6OLL8gsTW6B2/ppi0eiqaWW8H7uoM+bZbgL5psRW8CFPKPcjd9ldSobmDg
						FomnLhaApCa7Aw7yRDpcBkkUDZBKTLCv5jjnIf0ru8cdL2ZWeeXwiGAMTziHIBaQpCvXJSbTAlx6eQQLwEUIG9VrvvwISsS+Ol6Pjbe1M1e0JEq0R
						I2XRSkzPXmtZFPDPecaOzIPsIPj/QHnyQ/rd4yJwBYsyl6q6zQEx6AlLKu9mAYmcSSKAiAvAVR+MqVFoV+40BGYKoCAC/FCwBNEMfUCwkPYFnyOw9
						7Bt3VrClyKeRQPgEupu9r8FX9Kj3Fxnv7vBp8Q0lCYgjVC+mIY5dUV66eN5ISXnyBoMI9DTX7o5WwyeKbGzEyqnkgbtdGyAs2XQPm2d+pF1QitPP6
						Z8G2AGTUJpAtqVuJ9jZe4ptbTAYocfntNI55h2hE4CYbrRBUIrzsFZ2KA+9oPkCEqiCQGfDhB2xhOBdxXY2GHyQh4YqUPCrQRHINtbth8JYbYmohg
						pM188Z76V8W2LzoMqVzyGBIAlINzF8xKuW+IkebBk0NUg+fFaFBFCjedISUekKOCOMV2XTdZdUWIz8GgmERqC3tWYCfMQiW/wENhu9KDRYfLB/Al3
						p+uNsEZUN+ZBBUTlHxX8J8k4SCJeA7A4A23rZBvsq5qGVm42GqxnfT0eBaN+7SX2rZ0PDlq3sfRcgbySBEAkUJxy8taFGFf+elTyFiIyP9ksAs96O
						VCwk6wLPkLJ4n6uy/aqY94VFADPEvmLRhIOCv0APwxlh8eJzyySAdT+ZIU7PZoeuL28p77wyi5O3k0BgBDpbJuwF3/CxTf4B46u/CQwQH1QdAdQED
						rRJXLblBcbyBvupq9M4v10ZgZ5M7ddhT7YdUvnmsszkcZUR4bcCJwCB3Wqb07YtP2ihHh54wfOBJDAGAXS5nQw7+swyW+qXoDpGtvlRlARkfAEC67
						BMZPq62UaYhj20TBCAZkWpC77LbQLQnpyMvHaoBm34Gb09l7tdsoblvljLsc5h22AsG+QhxynZhhmPhclBhXQzTDi4bQPt2eEfUt6j+ZmJTS0sNr1
						Zwuy331kpthItCo15xoK50/UqjSk3nYCMi6BC+n8abcNHmj/oy4zfzvQycCp9PenaehSc9vM77Kid+QmYcA5OCZSZjYxArim5G3zBYh+OXKO9reS4
						T2RS8v8imQdvqeA0GomfNH+Wb0ps5b+EeScJlCaA8cUT4AeytvoC+LkLSlPgHZETQMHcYavorM0XFgxHLhS+0EoCMrVfBuVhK9ZNNhhi/3OsLDwbM
						oVCenNIQfmpgfMeP11lYd6T8mbaoD3mIV4C2P25Frb/e8vt/0+cuBOvzkZ9e0fzxCmWi8/WYPn4qIXKD0jABwGM/R4C219iuf13dDd6O/vAwVviIA
						DxnWu5AG0NQKu4ijsOi9H/TplijV01roTd237eVz+6FqfpLzGLc2DtXP8wu78MeTacyBEWS5NZC4FAYSfrjPeYC5VOTKq4OASEfGSQBDDf/1EXxGh
						jHlG7+0GQWuCz7CaAyuZpsIMuG21hwzwhr7+0uzQtyR0WoH60YeHxd09Ftx1qeDdYIkNmI0QCxXV+c1yxa/QM/C837Q1RUEE9urDiOe0NuCJM6/LJ
						BalBmYK1z8FBhic6Vslc0N6W2NraArUpY+jC4fELhoznVBgc37RJj8xLcAQ60hN3gKYerlBXKnoARsjbO31N4ycFR5FPCpUAunDOHKEQtYrPxXT35
						xcmtghVJHy4KgKFRaWZ5IWw6x7HbLuzt7FmD1WF5Xpi0TT/sWMitS5IyTou13XM/K8jkGtOHoxejacdtOk+LKg9lDpQRqC4FsA6p+ySAWYb6/ZTJj
						smN2AC0t2G3oxZ0P0al7RfzOuqrnT9cQEj5eOiICBTFR0UrF0BN+V9Kwqt8B3mESgeIikHxrnW3falDa+WSRbmlQxT5IsAhMsjuHVPQsjDAI/3Vdi
						8yRoCxc1DT8UavncdrkCu4blYyiUNAd/nsIC/rEXp/j/jfU+5DJn8MgjI1jKw2T86brcDXIRdhmhMvbU7UzfXcSHrDj5ovcEQzzBVX0xXcAQwxnM4
						bLWN9opF4invH4MjyyfFRgBidmZ1tLWGm/JOjk1AfHHoBGS/Pwae9TuToNvtstCh8wXREOBGpOuFrTVAoWZ8QjRq4VuiIiBjPAg832HgGWafA1g28
						pOoyoDviYAARH69VsfLdK8zTlQijolAKnxFBASKs9qmQ9uvUN/Dgw981SURFAFfESUBzKC6ikIfJnR1Y0JoAe0fpWb4ruAJFE8lneHYnm1+bW0NuH
						w/eOp8YuwEEHxkDYFfIfA+M1nNRkVi39jFxASUTQCt14OKC0hX0A5H9EOrMOHglLLB8gs6CMBxnUPhjyh8jcF2IRzahUsbpmyrQ31upjL3SLJOygm
						1+pdoe2Pa3mc9qdpvu6kSR3JdPBNeo7NlmkdvjXXBud0k+4I5ImPjsykbxspkkeKyh1UMPGMGHrHtHpn9Z3zBMoHVEcDxvEkaQ0lj0Bzs3pNgBOd3
						eHVK4bfLJYAJBZsJd+EPG/uUdubbzj7G2rYDy+XN+5USgGEso3H4Ng7NwehNlPM13Lw0PEOVoCOzEtG1fSdYd9CuyrarRZ0NE3YMr4T4ZOMIwEgep
						6GUbSiaA5GkvV0Gv2UvLWkFGydKRQmSA9CEI5jKou4u2lLFttQsswEVFT2TGgQBcUQ0moqNRnsgkvTLTKNHZYW5tI5kEWQQurL1GTKe093kHQVe14
						Hdn3DxSPvRxyN92Ye0GPNtic1t1QzzNQYB2dSPAcjpALShk5Ct/VsQlGZCG9M+nDt1mzHkY/1HHfMm1ggH4VHgkvE+p70EZi8DwtV6ETGDoxPItSZ
						3pUEFZlAbOnMbfl8JfTyFlvINuM7E4V/72FpbXZaZPA5Tf/9CKmXFcZyXkfe1tI8Q7AOBXLouR/dM/MQZAjCwdhpZCEZWZdeEwWUiU4ml+2mOdN3J
						eg3UZHfREpja2xJbd7ZM2AsTBk4rtmweRl7exsVgE41ml6Ab8wBnHCwzOjYBGN5sXDbU1pmHeMuxHzpagms+rntw/Quuc2VNBwaY917ROm5y2EGqE
						Fwwkwqttf0RYI6V1gyua3Hdj+tppGcpLuokJgYogxTWH9aP7ZH4qVMEYKx/Q6OkU4pQAzm8620EiGfw/yOyQBMtqQegw1ly4W83yka5cuHnq4f8fG
						vhnnTdbwqLOvE9/J7BPS/geh8Xt7SJKbCAfamgLpM1fpafmdjUKefKzJYmIDVTiENqr6VExM/JiBqgBsrVQA+6OnluVWlX7O4d0jRmAGIApgaogYA
						1sDjXlNzNXc/KnPsigG6OswMWXrm1JN7PmjU1YJMGMt7d3BzXl/vlTbLeAwFI+ubpBMiAGqAGqtFADmNzZ9GrkkBZBBB8OBuOjqcax8Pvuq4f7KqB
						GY9Ty3I8vJkEhABqLYezBcQWIDVADVSggdWypoqz3BhLqiIA4S2oQHys+bpe82X+nbUBTGB6HRePUKjK8/LLBQJoBZ3AAMQaMDVADfjQgOwccSsnG
						jB4BEoATennfYjP2Rof2dA5UwOFrYuODtTx8GEkIATQnD6VBkYnSw1QAyNoYLXsTJFvSmxFb0kCoRCQgUQITzabZCuHDKgBaqCgAVRMn5bd0ENxOn
						woCQwlkG2uOwwBSPZvogOKmUE2nWQZxFwGjtvBZwg+l8uR40N9BH8mgVAJwOi4LoiOj8HPZQ1gw9euTP2fhepo+HASGIlAb2vNBAShDsdrf3TALjt
						gd/P+YnfGO3Ikv8C/kUBkBLBN/kUMQOyGpAac0UAnynoGu9sic7F80VgEihMSmumAnHFAbPG52epZjRbPTdmWuuRY/oCfkUDkBPoy47dDAPqYQYhB
						iBqwUgN/wCmlX43csfCFJOCXAM5wPwrOZw0dkJUOiK0eF1s9Ke9JsWu/PoD3kUCsBBB8rmYACi8Acbp1eGyp22Fsn8Jx6MfE6kz4chIol4CMB0G4j
						TTmYcbM1oOLrQeFeZaFpLimlWv3vJ8EjCEgGw9ir7gnGYQYhKgBJRrA3o6yybAxToQJIYFqCMj6INSkXqMDUuKAFNbWqa0AtIWKYjZTd2I+n9ikGn
						vnd0nAOAKdDRN2hJN4j46iSkeRqvL7DC7sAh2ugVWwyTnZxrr9jHMaTBAJBEkAR+/uDbEvZRBiEKEGYtdAj6zj4bY5QXo4Pst4AhgP2gXO5006oLI
						d0MNwGL8Gty6yK5sdWz3rWz1vQz8zlrdNGm+8s2ACSSAMAoUxoUzyGTpSn44UNVWZUShlIeeqYLuj08GuBRd3H1/vWBlkRmexshubhMqMNo7vhOHR
						+Ex1BJZlJo+DQaQYhMYMQgMINpeNVrg9zbW7o0U5Eww/IMcxOToZnGBfr+O6vK9p/KTRNMS/k4CzBLCB4ZZwnDfiYk1+49prF4LLSX7EIRtBSu1Wa
						rlg2c9g5G4wwuLkL9ja8WM1vIcEigTE0cJpcmxjfRB6Ltea3LUSgRRnG84AU1l7xcC+nqnNraCVKOsGXNMx0ae2Et3wOyTgNAHsqrsTDOgpXDY7il
						J5G5CZSdIyDEIMcEZTwZPByE5NyT6LMg44nTtSB2EtfIbzBPILE1vAoK7BJTW6Us7ats/bsQjw+LBEgBbRLuim+ydwXeggW1u0shpl2ISyPK+7zfP
						C0gqfSwJOE5Ct3guG5kYQKpyrEuW02BWt4yYjCE0vjhl1MyAZXdlZhvKZU5j5yKDjtF9k5iMmINuCwPjet9hBzpfFuRFjHfa6wgSGTPIg1KplNp20
						jjhuFG/Fp1/G71ABuxwb+R7EadPD5MpfSCBaAtIyQCC6Ao7xU1sCUTZd9yzy9N1oSfp7W0d64g7gfD6c4H34/y1bmBucDwk4zyN9N+L/k6JsCftTB
						O8iARJYtwAzk7wQhqp3zUtxs0dNxSnddYWW6LoWUkthmm+8LQTt4zl90sJBJeT6Ald2q2kyB6bVdQIyQwzdExcgEL1gcK12qJOUCRUPZZvrDrOh7D
						6cO3UbzNQ7Etv1/xSO9EHkTbZV4sm3IwTlYrAWnd4LXhfj2l+6PG3QAfNAAs4T6GyZsBecoIxdLME11Omb8LOMp8xwYRW6zF7sStfvg/xOl5o9/pc
						1Ka5tOiv5bZFp9MKhMH6DbZOcN1ICIAHbCRROXpWdANLerbhexRV5ACrWdtvQrXKVzOKznbmf/C1vnLR9d5N3FJzy9wsVhXXjSo+jfGRiibZW00oE
						1zdwpVHGd+K6AkHmr1HWh3Dxpx818B4ScISAOD44irPh5O4Sp4H/w9iepg/PfQrdgb+AIzpGuqYcwRtINqXVJLs9YHrxXyI4nQeGl6Ksrkewuhtcf
						4/rCbCVQwxl8klYwUq6Rz/GtRjX/OIWNrcjDT/H7zMQZM6RrtOO5olTOBstkGLnQ0jAPQIyblTsrjtZprfCucyG03sU/y/C9SGuLK7PcH3ZcpK1Mf
						K3d+AUn4VzbJSuFTikH4nD5Bkq0WtIFl52N3o7S9DqbazZA2VykFwonyNQptMKF3YJL6yXSXlSzoW/daXqv1G4N508sBDw8H3ZroizzaIvQ77RXQL
						/D/chDUa5FNFBAAAAAElFTkSuQmCC"
					/>
				</defs>
				<g>
					<use opacity="1" transform="matrix(1 0 0 1 0 0)" xlink:href="#Image"
					></use>
				</g>
			</svg>

			<span>Alejandro GD</span>
		</a>
		<nav id="navigation-menu" aria-label="Main">
			<a href="/" aria-current={url.pathname === "/" ? "page" : false}>Inicio</a
			>
			<a href="/about" aria-current={url.pathname === "/about" ? "page" : false}
				>Acerca de
			</a>
			<a href="/posts" aria-current={url.pathname === "/posts" ? "page" : false}
				>Blog
			</a>
		</nav>
	</span>
	<ThemeToggle />
	<button
		id="toggle-navigation-menu"
		type="button"
		aria-label="primary navigation"
		aria-expanded="false"
	>
		<svg
			fill="currentColor"
			viewBox="0 0 20 20"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				d="M3 7a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
				clip-rule="evenodd"></path>
		</svg>
	</button>
</header>

<style>
	header {
		@apply relative z-50 mb-28 flex items-center sm:pl-[4.5rem];

		.logo {
			@apply inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block;

			svg {
				@apply mr-3 h-10 w-6 sm:absolute sm:left-[-4.5rem] sm:mr-0 sm:h-20 sm:w-12;
			}

			> span {
				@apply text-xl font-bold sm:text-2xl;
			}
		}

		#toggle-navigation-menu {
			@apply ml-8 sm:invisible sm:hidden;

			svg {
				@apply h-6 w-6;
			}
		}

		nav {
			@apply mt-1 -ml-4 hidden text-accent sm:flex sm:divide-x sm:divide-dashed sm:divide-accent;

			a {
				@apply px-4 sm:hover:underline;
			}
		}

		@media (max-width: 640px) {
			:global(body.menu-open) & {
				@apply relative z-50;

				nav {
					@apply absolute -inset-x-4 top-14 m-0 flex flex-col items-end gap-y-4 rounded-md bg-[color:var(--theme-menu-bg)] py-4 shadow backdrop-blur backdrop-filter;

					a {
						@apply p-4;
					}
				}
			}
		}
	}
</style>
